body{
    height: 100vh;
    background: #556194;
    display: flex;
    align-items: center;
}

.contenedor {
    width: 840px;
    height: 280px;
    margin: 0 auto;
    
    position: relative;

    background: url(Fondo.png);
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.dino {
    width: 80px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(sonic.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.15s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(suelo1.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 118px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(crabmeat.png) no-repeat;
}
.cactus2{
    width: 96px;
    height: 90px;
    bottom: 16px;

    background: url(bomba.png) no-repeat;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(nube.png) no-repeat;
    background-size: 92px 26px;
}

.moneda{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 1;

    background: url(Moneda.png) no-repeat center center;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;
    margin-top: 110px;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #ff0000;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}
